In [30]:
import pandas as pd
import numpy as np

In [31]:
data_stations = pd.read_csv('./station.csv' )
data_trip = pd.read_csv('./trip.csv',error_bad_lines=False )
data_weather = pd.read_csv('./weather.csv')

data_trip

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

## What is the average trip duration for a borrowed bicycle?

In [32]:

average_trip=data_trip['tripduration'].mean()
average_trip

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [33]:
most_common_age=data_trip['birthyear'].mode()[0]
most_common_age = 2021-most_common_age 
most_common_age

34.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation

In [34]:

avg_precipitation_day=data_weather['Precipitation_In'].mean()
avg_precipitation_month=avg_precipitation_day*30
avg_precipitation_month

3.1519593613933234

In [35]:
median_precipitation=data_weather['Precipitation_In'].median()
median_precipitation

0.0

 ## What’s the average number of bikes at a given bike station?

In [36]:
avareg_bike =data_stations["install_dockcount"].mean()
avareg_bike

17.586206896551722

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know

In [37]:
avg_num_midified_bikes=data_stations['current_dockcount'].mean()
avg_num_midified_bikes

16.517241379310345


## it is most likely to lose bikes, because the modified mean is less than the previous mean


## Come up with 3 more questions that can be answered with this data set

## what is the gender for trip_id=433 ?

In [38]:
gender = data_trip[data_trip["trip_id"]==433]["gender"]
gender

2        Female
50794    Female
Name: gender, dtype: object

## in when day recorded most temperature in it ?

In [39]:
max1=data_weather["Date"].max()
max1

'9/9/2015'

## what is the names of stations where current_dockcount =24 ?

In [40]:
name= data_stations[data_stations["current_dockcount"]==24]["name"]
name

22    Children's Hospital / Sandpoint Way NE & 40th ...
52                      Pier 69 / Alaskan Way & Clay St
Name: name, dtype: object

## User Acceptance Tests

In [41]:
def test ():
    
    def assert_equal(actual,expected):
       
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(average_trip, 1178.2956753399776)
    assert_equal(most_common_age, 34.0)
    assert_equal(avg_precipitation_month, 3.1519593613933234)
    assert_equal(median_precipitation, 0.0)
    assert_equal(avareg_bike, 17.586206896551722)
    assert_equal(avg_num_midified_bikes, 16.517241379310345)

    assert_equal(max1,'9/9/2015')
    print("all test done")
        
test()

Success!!!